{% extends 'base.html' %}

{% block content %}
<h2>{{ product.name }}</h2>
<h5>{{ product.review_set.count }} reviews ({{ product.average_rating | floatformat }} average rating)</h5>

<h3>Recent reviews</h3>

{% if product.review_set.all %}
<div class="row">
    {% for review in product.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'review-detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this product yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'add-review' product.id %}" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
