{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="name" placeholder="Name">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="email" name="email" placeholder="Email">
                        </label>
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <label>
                            <input class="form-control" type="text" name="address" placeholder="Address">
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <input class="form-control" type="text" name="city" placeholder="City">
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <input class="form-control" type="text" name="state" placeholder="State">
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code">
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <input class="form-control" type="text" name="country" placeholder="Country">
                        </label>
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make payment</button>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.image_url }}" alt=""></div>
                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                <div style="flex:1"><p>IDR {{ item.product.price|floatformat:2 }}</p></div>
                <div style="flex:1"><p>x{{ item.quantity }}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{ order.get_cart_items }}</h5>
            <h5>Total: IDR {{ order.get_cart_total|floatformat:2 }}</h5>
        </div>
    </div>
</div>

    <script type="text/javascript">
        const shipping = '{{ order.shipping }}';
        const total = '{{ order.get_cart_total }}';

        if (shipping === 'False'){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if (shipping !== 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }

        if (shipping === 'False' && user !== 'AnonymousUser') {
            document.getElementById('form-wrapper').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');
        }

        const form = document.getElementById('form');

        form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('Form submitted...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function () {
            submitFormData()
        })
        
        function submitFormData() {
            console.log('Payment button clicked')

            const userFormData = {
                'name': null,
                'email': null,
                'total': total,
            };

            const shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            };

            if (shipping !== 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }

            if (user === 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            const url = '/orders/process-order/';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            }).then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed')
                window.location.href = "{% url 'product-list' %}"
            })

        }
    </script>

{% endblock content %}
